{% extends "base.html" %}

<style>
#tweet-container{ }
</style>

{% block script %}

    <script>
        console.log("working")
        $(document).ready(function(){
            $.ajax({
                url:"/api/tweet/",
                method: "GET",
                success: function(data){
                    $.each(data, function(key, value){
                        var tweetKey = key
                        var tweetContent = value.content
                        var tweetUser = value.user
                        $("#tweet-container").append(
                            {% comment %} "<li>" + tweetContent + "<br/>" + "By: " + tweetUser.username + " | " + "<a href='#'>View</a>" + "</li>" + "<hr/>" {% endcomment %}

                            "<div class=\"media\"><div class=\"media-body\">" + tweetContent + "<br/>" + "By: " + tweetUser.username + " || " + "<a href='#'>View</a>" + "</div></div>" + "<hr/>"
                        )
                    })
                },
                error: function(data){
                    console.log("error")
                    console.log(data)
                }   
            })

        });
    </script>

{%endblock script%}




{% block content %}

<div class="row">

    <div class='col-sm-3' style='background-color:gray'>
        <h3> {{ request.user }} </h3> </br>
    </div>

    <div class="col-sm-9">

        {% if not request.GET.q %}
        <div>
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" %}
        </div>
        <hr/>
        {% endif %}

        <div id="tweet-container">
        </div>

        {% for object in object_list %}

        <div class="media">
            <div class="media-left">
                <a href="#">
                    {%if object.image%}
                        <img class="media-object" src="..." alt="...">
                    {%  endif %}
                </a>
            </div>

            <div class="media-body">
                {{ object.content }} </br> </br>
                {{ object.timestamp | timesince }} Ago || 
                <a href="{{ object.get_absolute_url }}">View</a>
            </div>

        </div>

        <hr/>

{% empty %}

{% if request.GET.q %}
    <p> no tweets found</p>
{% else %}
    <p> no tweets yet </p>
{% endif %}

{% endfor %}

    </div>
</div>

{% endblock content %}
