{% extends "base.html" %}

{% block content %}


    {% for object in object_list %}

        <div class="row">

            <div class='col-sm-3' style='background-color:gray'>
                <h3> {{ object.user }} </h3> </br>
            </div>

            <div class= "col-sm-9">
                {{ object.content }}</br>
                {{ object.timestamp | timesince }} Ago 
                || <a href="{{ object.get_absolute_url }}">View</a>
            </div>

        </div>

        <hr/>

    {% empty %}
    {% if request.GET.q %}
        <p> no tweets found</p>
    {% else %}
        <p> no tweets yet </p>
    {% endif %}

    {% endfor %}

{% endblock content %}