{% extends "base.html" %}

<style>
#tweet-container{}
</style>

{% block script %}

    <script>
        $(document).ready(function(){
            loadTweetContainer("tweet-container")
                });
    </script>

{%endblock script%}


{% block content %}

<div class="row">

    <div class='col-sm-3' style='background-color:gray'>
        <h3> {{ request.user }} </h3> </br>
    </div>

    <div class="col-sm-9">

        {% if not request.GET.q %}

        <div>
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" form_id="tweet-form"%}
        </div>

        <hr/>
        {% endif %}

        <div id="tweet-container" data-url='/api/tweet/'>
        </div>

<a href="#" id='loadmore'>load more tweets</a> </br>

    </div>
</div>

{% endblock content %}
