
{% extends "base.html" %}


{% block script %}

    <script>
        $(document).ready(function(){
            loadTweetContainer("tweet-container")
                });
    </script>

{%endblock script%}


{% block content %}
<div class='row'>
        <div class='col-sm-3' style='background-color:#CCC'>
            <h3> {{ object.username }} </h3>
            <h4> Followers {{ object.followed_by.all.count }} </h4>
            <h4> Following {{object.profile.get_following.count}} </h4>
            <p>
                {% comment %} <a class="btn btn-primary"  href='{% url "profiles:follow" username=object.username %}' > {% endcomment %}
                <a class="btn btn-primary"  href='{{ object.profile.get_follow_url }}' >
                    {% if following %} Unfollow {% else %} Follow {% endif %}
                </a>
            </p>
                <h3> Following </h3>
                {% for user in object.profile.get_following %}
                <a href="/{{user.username}}"> {{ user.username }} </a> </br> 
                <hr/>
                {% empty %}
                <p> Not Following any user  </p>
                {% endfor %}

                <h3> Followers </h3>
                {% for profile in object.followed_by.all %}
                <a href="/{{ profile.user.username }}"> {{ profile.user.username }} </a> </br>
                <hr/>
                {% empty %}
                <p> Not Followed by any user  </p>
                {% endfor %}
        </div>

        <div class='col-sm-9'>
            <h3> My Tweets </h3>

                <div id="tweet-container" data-url='/api/{{object.username}}/tweet/'>
                </div>
                <a href="#" id='loadmore'>load more tweets</a> </br>

        </div>
</div>

{% endblock content %}
