
{% extends "base.html" %}

{% block content %}
<div class='row'>
        <div class='col-sm-3' style='background-color:gray'>
            <h3> {{ object.username }} </h3> </br>
            <h4> {{ object.followed_by.count }} </h4>
        </div>

        <div class='col-sm-9'>
            <h3> Tweets </h3>
            {% for tweet in object.tweet_set.all %}
            {{ tweet }} </br> 
            <hr/>
            {% endfor %}

            <h3> Following </h3>
            {% for user in object.profile.following.all %}
            <a href="/{{user.username}}"> {{ user.username }} </a> </br> 
            <hr/>
            {% empty %}
            <p> Not Following any user  </p>
            {% endfor %}

            <h3> Followers </h3>
            {% for user in object.followed_by.all %}
            <a href="/{{ user.user.username }}"> {{ user.user.username }} </a> </br>
            <hr/>
            {% empty %}
            <p> Not Followed by any user  </p>
            {% endfor %}
        </div>
</div>

{% endblock content %}
